@import "theme";

.zola-anchor {
	opacity: 0;
	float: left;
	margin-left: -0.87em;
	padding-right: 0.23em;
	margin-top: 0.125em;
	font-size: 0.85em;
}

h1:focus .zola-anchor,
h1:hover .zola-anchor,
h2:focus .zola-anchor,
h2:hover .zola-anchor,
h3:focus .zola-anchor,
h3:hover .zola-anchor,
h4:focus .zola-anchor,
h4:hover .zola-anchor,
h5:focus .zola-anchor,
h5:hover .zola-anchor,
h6:focus .zola-anchor,
h6:hover .zola-anchor {
	opacity: 1;
}
