@import 'theme';
@import 'external-links';

// Navbar
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	display: flex;

	height: $navbarHeight;
	padding: 1rem 4rem;
	line-height: 2rem;
	box-sizing: border-box;
	column-gap: 1rem;

	color: $tintColor;
	background: $lightTintColor;
	border-bottom: 1px solid $lightTintColor;

	&.border {
		border-color: $separatorColor;
	}

	> .left {
		flex: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		column-gap: 1rem;

		> .menu {
			display: none;
		}
		> .title {
			font-size: 1.5rem;
			font-weight: 400;
			color: $tintColor;

			&.bold {
				font-weight: 450;
			}
			&:nth-child(3) {
				margin-left: -0.4rem;
			}
		}
	}

	> .links {
		flex: 2;
		display: flex;
		justify-content: flex-end;
		column-gap: 1.5rem;

		> .nav-link {
			color: $tintColor;
			text-decoration: none;
			font-weight: 500;

			&.active,
			&:hover {
				border-bottom: 0.15rem solid $tintColor;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

// Hamburger menu
.hamburger {
	cursor: pointer;
	height: 0.9rem;
	width: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.line {
		display: block;
		height: 2px;
		width: 100%;
		background: $tintColor;
	}
}

@media only screen and (max-width: $TabletSize) {
	.navbar {
		padding: 1rem;

		> .links {
			display: none;
		}
	}
}
