@import 'theme';

// Sidebar
.sidebar {
	position: fixed;
	width: $sidebarWidth;
	color: $textColor;
	border-right: 1px solid $separatorColor;
	height: 100%;
	background-color: white;
	overflow-y: scroll;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		row-gap: 1rem;
		padding: 1rem 1.5rem; 
		border-bottom: 1px solid $separatorColor;
	
		.nav-link {
			font-weight: 500;
			color: $textColor;
			display: block;
			flex: 1;
	
			&.active {
				color: $tintColor;
			}
		}
	}

	> .sidebar-links {
		padding: 2rem 0;

		> li:not(:first-child) {
			margin-top: 0.75rem;
		}
	}

	.sidebar-sub-headers {
		padding-left: 1rem;
		line-height: 1.7;

		> .sidebar-sub-header > .sidebar-link {
			font-size: 0.9rem;
		}
	}
}

.sidebar-link {
	color: $textColor;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	font-weight: 350;
	font-size: 0.95rem;
	line-height: 1.4;
	padding: 0.25rem 1rem 0.25rem 1.25rem;

	&.active, &:hover {
		color: $tintColor;
	}
}

.sidebar-group .sidebar-link {
	padding-left: 2.25rem;
}

.sidebar-links .sidebar-heading {
	color: $textColor;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.5;
	padding: 0.35rem 1rem 0.35rem 1.5rem;

	&.sidebar-link:hover {
		color: $tintColor !important;
	}
}

.no-sidebar .sidebar {
	display: none;
}

@media only screen and (max-width: $SmallDesktopSize) {
	.sidebar {
		width: $sidebarSmallerWidth;
	}
}

@media only screen and (max-width: $TabletSize) {
	.sidebar-mask {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
	}

	.no-sidebar .sidebar {
		display: block;
	}

	.sidebar {
		z-index: 10;
		position: fixed;
		top: 0;
		padding-top: $navbarHeight;
		transform: translateX(-100%);
		transition: transform .2s ease;

		.nav-links {
			display: flex;
		}
	}

	.sidebar-open {
		.sidebar-mask {
			display: block;
		}
		.sidebar {
			transform: translateX(0);
		}
	}
}
