// Colors
$tintColor: #ff375f;
$textColor: #4d2a32;
$lightTintColor: #fff6f8;
$separatorColor: #ebebeb;
$backgroundColor: #ffffff;

$footerBackgroundColor: #fafafa;
$footerText1Color: #555555;
$footerText2Color: #919196;

// Sizes
$navbarHeight: 4rem;
$sidebarWidth: 20rem;
$sidebarSmallerWidth: 16rem;

// Screen sizes
$SmallDesktopSize: 920px;
$TabletSize: 768px;
$MobileSize: 480px;
