.notice {
    padding: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    color: #444;
    background: #e7f2fa
}

.notice p:last-child {
    margin-bottom: 0
}

.notice-title {
    margin: -18px -18px 12px;
    padding: 4px 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    color: #fff;
    background: #6ab0de
}

.notice.warning .notice-title {
    background: rgba(217, 83, 79, .9)
}

.notice.warning {
    background: #fae2e2
}

.notice.info .notice-title {
    background: #f0b37e
}

.notice.info {
    background: #fff2db
}

.notice.note .notice-title {
    background: #6ab0de
}

.notice.note {
    background: #e7f2fA
}

.notice.tip .notice-title {
    background: rgba(92, 184, 92, .8)
}

.notice.tip {
    background: #e6f9e6
}

.icon-notice {
    display: inline-flex;
    align-self: center;
    margin-right: 8px
}

.icon-notice img,
.icon-notice svg {
    height: 1em;
    width: 1em;
    fill: currentColor
}

.icon-notice img,
.icon-notice.baseline svg {
    top: 0.125em;
    position: relative
}
