@import "theme";

section.release {
	padding-bottom: 0.5em;

	h2 {
		margin: 1em 0 16px;
		border-top: 1px solid $separatorColor;
		padding-top: 24px;

		> a {
			color: $textColor;
			font-weight: 500;

			&:hover {
				color: $tintColor;
			}
		}

		span.badge {
			display: inline-block;
			border-radius: 0.6rem;
			font-size: 0.8rem;
			line-height: 1.2rem;
			color: $tintColor;
			background-color: $lightTintColor;
			border: 0.5px solid $separatorColor;
			padding: 0 8px;
			vertical-align: middle;
			margin-left: 2px;
		}
	}

	h3 {
		margin: 1.2em 0 0;
		padding: 0;
		font-size: 1.2em;
	}

	ul {
		padding: 0 0 0 1.25rem;
	}

	details {
		&[open] {
			padding-bottom: 0.5em;
		}

		> summary {
			list-style: none;
			cursor: pointer;

			&:hover {
				opacity: 0.6;
			}

			&::-webkit-details-marker {
				display: none;
			}

			.info {
				margin-bottom: -0.1em;
				margin-left: 0.1em;
				width: 0.9em;
				height: 0.9em;
				opacity: 0.6;
			}
		}

		> p {
			margin: 0;
		}
	}
}
