{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{{ get_url(path="css/global.css") | safe }}">
	<link rel="stylesheet" href="{{ get_url(path="css/page.css") | safe }}">
	<link rel="stylesheet" href="{{ get_url(path="css/releases.css") | safe }}">
{% endblock css %}

{% block content %}
<main>
	<div class="doc">
		{{ section.content | safe }}

		{% set releases = load_data(path="content/release-notes/data.yml") %}
		{% for release in releases.versions %}
			{{ macros::release(release=release, latest=loop.first) }}
		{% endfor %}
	</div>
</main>
{% endblock content %}
